.banner{
    background-image: url('goddard-library-renew-a-book.jpg');
    background-position: center top;
    height:600px;
    background-size: cover;
    color:black;
    
}
.jumbotran{
color: lightseagreen;
}