.footer{
    background-color: lightgrey;
    padding: 20px 10px;
    position: sticky;
    top: 100%;
}
a{
    font-size: 14px;
    text-decoration: none;
    color: black;
    padding: 0px 5px;
}
a:hover{
    color: lightseagreen;
}
i{
    font-size: 20px;
    padding: 0px 10px;
}
h5{
    color: black;
}