.activeLink{
    font-weight: bold;
    
}
.nav-link{
    color:white;
}
.navbar-brand{
    color: white;
}
.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color:lightseagreen;
    border:none;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}